@shadow: 1px 1px 5px 2px #e3e3ea;
@radius: 16px;

.dashboard-wrap {
  padding: 10px;
  // background-color: #fafafb;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .header {
    flex-basis: 100px;
    background-color: #fff;
    border-radius: 16px;
    .ant-page-header {
      border-radius: 16px;
    }
  }
  .container {
    flex: 1;
    // padding: 10px;
    // overflow: auto;
    .first-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & .left,
      & .right {
        flex: 0 0 250px;
        height: 300px;
        background-color: #fff;
        box-shadow: @shadow;
        border-radius: @radius;
      }
      & .center {
        flex: 1;
        height: 300px;
        box-shadow: @shadow;
        border-radius: @radius;
        background-color: #fff;
        margin: 0 20px;
      }
    }
    .second-row {
      margin: 20px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      & .left {
        flex: 1;
        box-shadow: @shadow;
        border-radius: @radius;
        background: #fff;
        height: 300px;
        margin: 0 20px 0 0;
        .ant-card {
          border-radius: 16px 0 0 16px;
        }
      }
      & .right {
        flex: 0 0 250px;
        height: 300px;
        box-shadow: @shadow;
        border-radius: @radius;
        background: #fff;
      }
    }
  }
}
