<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="./styles.css" /> -->
    <title>login Form</title>
  </head>

  <body>
    <div class="container">
      <div class="form-container">
        <div class="form-body">
          <div class="header">
            <h2>Login</h2>
            <p>Don't have an account? <a href="#">Craete your Account</a></p>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="text" placeholder="UserName" />
            </div>
            <div class="input-group">
              <input type="password" placeholder="PassWord" />
            </div>
            <div class="input-group flex">
              <div class="remember">
                <input type="checkbox" id="checked" /><label for="checked"
                  >Rembmer me</label
                >
              </div>
              <div class="forgot"><a href="#">Forgot PassWord?</a></div>
            </div>
            <div class="input-group right">
              <button>Login</button>
            </div>
          </div>
        </div>

        <div class="form-image">
          <div class="text">
            <h2>Welcome <br />Back!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit!</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
